$colors: (
  primary: #005dff,
  $primary-light : lighten(#005DFF , 40%) ,
  $primary-dark : darken(#005DFF , 40%) ,
  accent: #fff6bb , 
  lgblue : linear-gradient(45deg, #2196F3 30%, #21CBF3 90%)
  
);

@function color($color_name) {
    @return map-get($colors, $color_name);
  }
  

  #bgc{
    clip-path: polygon(35% 16%, 87% 55%, 17% 85%);
    background: color(lgblue); 
    width: 100%;
      height: 50%;
      position: absolute;
      z-index: -1;
 }


