@import '~bulma/bulma.sass'; 
@import 'homestyle.scss'; 

.overlapMenu{
    position :absolute ; 
    z-index: 1;
    width:100% ; 
    display: block;
    text-align: center;

}

.height_copy_button{
    height: 95px;
}

.download_btn_margin{

    margin-top:20px ; 
}

.gradientBlue{
   background: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%); 
}

.gradientBlueColor{
    color: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%); 
 }

.hr{

    background: linear-gradient(45deg, #21CBF3 30%,#2196F3  90%); 
    
}